<div class="container p-5">
    <div class="row">
        <div class="col-sm-8 offset-2">
            <div *ngIf="currentQuiz < quizzes.length">
                <p class="text-center">{{currentQuiz + 1}} of  {{quizzes.length}}</p>
                <h1>{{quizzes[randomize].question}}</h1>
                <ul class="list-group" *ngFor="let quiz of quizzes[currentQuiz].answer">
                    <label>
                    <li class="list-group-item" appBackground [correctAnswer]="quiz.correct">
                    <input type="radio" name='options' (change)="onAnswer(quiz.correct)" [disabled]="answerSelected"/>
                        {{quiz.option}}
                    </li>
                </label>
                </ul> 
            </div> 
            <button class="btn btn-success btn-block" (click)="clickShowResults()">Show Results</button>
            <button class="btn btn-danger btn-block" (click)="clickStartOver()" >Start Over</button>
            <div class="font-weight-bold text-center" *ngIf="result">
                <hr>
                Correct Answer: {{correctAnswer}} | Incorrect Answer: {{incorrectAnswer}}
                <br> You got a {{correctAnswer/quizzes.length *100}}% so far
           </div> 
        </div>
    </div>
</div>

